@if (ViewData["Title"] != null)
{
    <h1 style="color:blue">@ViewData["Title"]</h1>
}
<h1>Add planned work</h1>


<table>
    <form method="post" action="@Url.Action("AddPlannedWork", "HomeController")">

        <tr>
            <td>  <label>Id of planned work: </label>  </td>
            <td>  <input id="idCurrentWork" name="idCurrentWork" type="text" required />  </td>
        </tr>
        <tr>
            <td>  <label>Airport: </label>  </td>
            <td>  <input id="airport" name="airport" type="text" required />  </td>
        </tr>
        <tr>
            <td>   <label>Type of airport: </label>  </td>
            <td>   <input id="typeOfAirport" name="typeOfAirport" type="text" required />  </td>
        </tr>
        <tr>
            <td>   <label>Details of work: </label>  </td>
            <td>   <input id="detailsOfWorks" name="detailsOfWorks" type="text" required />  </td>
        </tr>
        <tr>
            <td>   <label>Work steps: </label>  </td>
            <td>   <input id="workSteps" name="workSteps" type="text" required />  </td>
        </tr>
        <tr>
            <td>   </td>
            <td>   <input type="submit" />  </td>
        </tr>

    </form>
</table>