@if (ViewData["Title"] != null)
{
    <h1 style="color:blue">@ViewData["Title"]</h1>
}
</br>
</br>
<table style="background-color:aliceblue; opacity:0.9; border-collapse:separate; border-spacing:0.85em; border-radius:9px; border-width:1px" align="center" class="table-striped" width="370" height="200">
    <caption style="text-align:center; background-color:aliceblue; border:thin; border-color:aquamarine; font-family:'Comic Sans MS', Times, serif; font-style:italic; opacity:0.8; font-weight:500; color:lightslategrey; font-size:19pt; border-radius:9px; border-width:1px">Create planned work on airplane</caption>

    <form method="post" action="@Url.Action("AddPlannedWork", "HomeController")">

        <tr>
            <td>  <label style="color:grey">Id of planned work: </label>  </td>
            <td>  <input id="idCurrentWork" name="idCurrentWork" type="text" required style="border-radius:9px; border-width:1px" />  </td>
        </tr>
        <tr>
            <td>  <label style="color:grey">Airport: </label>  </td>
            <td>  <input id="airport" name="airport" type="text" required style="border-radius:9px; border-width:1px" />  </td>
        </tr>
        <tr>
            <td>   <label style="color:grey">Type of airport: </label>  </td>
            <td>   <input id="typeOfAirport" name="typeOfAirport" type="text" required style="border-radius:9px; border-width:1px" />  </td>
        </tr>
        <tr>
            <td>   <label style="color:grey">Details of work: </label>  </td>
            <td>   <input id="detailsOfWorks" name="detailsOfWorks" type="text" required style="border-radius:9px; border-width:1px" />  </td>
        </tr>
        <tr>
            <td>   <label style="color:grey">Work steps: </label>  </td>
            <td>   <input id="workSteps" name="workSteps" type="text" required style="border-radius:9px; border-width:1px" />  </td>
        </tr>
        <tr>
            <td>   </td>
            <td>   <input type="submit" class="btn btn-info" style="border-radius:9px; border-width:1px; width:100px;" />  </td>
        </tr>

    </form>
</table>
